$notification-box-shadow-color: rgba(0, 0, 0, 0.25);

.flash-container {
  margin: 0;
  margin-bottom: $gl-padding;
  font-size: 14px;
  position: relative;
  z-index: 1;

  &.sticky {
    position: sticky;
    top: $flash-container-top;
    z-index: 251;

    .flash-alert,
    .flash-notice,
    .flash-success,
    .flash-warning {
      @include gl-mb-4;
    }
  }

  &.flash-container-page {
    margin-bottom: 0;
  }

  &:empty {
    margin: 0;
  }

  .close-icon-wrapper {
    padding: ($gl-padding + $gl-padding-4) $gl-padding $gl-padding;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;

    .close-icon {
      width: 16px;
      height: 16px;
    }
  }

  .flash-alert,
  .flash-notice,
  .flash-success,
  .flash-warning {
    padding: $gl-padding $gl-padding-32 $gl-padding ($gl-padding + $gl-padding-4);
    margin-top: 10px;

    .container-fluid,
    .container-fluid.container-limited {
      background: transparent;
    }
  }

  .flash-alert {
    background-color: $red-50;
  }

  .flash-notice {
    background-color: $blue-50;
  }

  .flash-success {
    background-color: $green-50;
  }

  .flash-warning {
    background-color: $orange-50;
  }

  .flash-text,
  .flash-action {
    display: inline-block;
  }

  .gl-alert {
    @include gl-my-4;
  }

  &.flash-container-no-margin {
    .gl-alert {
      @include gl-my-0;
    }

    .flash-alert,
    .flash-notice,
    .flash-success,
    .flash-warning {
      @include gl-mt-0;
    }
  }
}

@include media-breakpoint-down(sm) {
  ul.notes {
    .flash-container.timeline-content {
      margin-left: 0;
    }
  }
}

.gl-browser-ie .flash-container {
  position: fixed;
  max-width: $limited-layout-width;
  left: 50%;

  .flash-alert {
    position: relative;
    left: -50%;
  }
}

.with-system-header .flash-container.sticky {
  top: $flash-container-top + $system-header-height;
}

.with-performance-bar {
  .flash-container.sticky {
    top: $flash-container-top + $performance-bar-height;
  }

  &.with-system-header .flash-container.sticky {
    top: $flash-container-top + $performance-bar-height + $system-header-height;
  }
}
